<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>show page for item : <%= foundproducts.name %></h1>
    <div>PRICE: <%=foundproducts.price%></div>
    <div>SELLER:<%=foundproducts.seller%></div>
    <div>is avalaible:<%=foundproducts.instock%></div>
    <form action="/products/<%= foundproducts._id %>?_method=DELETE" method="post">
        <input type="submit" value="delete me">
    </form>
</body>
</html>